*{box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:"Merienda One";
  }
  body{
    max-width:1440px;
    margin-left: auto;
    margin-right: auto;
  }
 .wrapper_content{
  background-color:#e5e5e5;
  }
  .divider {
    width: 330px;
    height: 1px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .5);
}
  .header{
    background-image:url(./images/coffee-shop-1209863_1920.png);
    background-color:gray;
    color: white;
    height:260px;
    position: relative;
    text-align:center;  
  }
  
  .header__links a{
    color: white;
    text-decoration: none;
    margin-right: 50px;
    font-weight: lighter;
  }
  .logo_header_img{
    margin-top: -15px;
  }
  .menu{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    max-width:550px; 
    margin-left:150px;
    padding-top: 60px;    
  }
  
  .name{
    position: absolute;
    max-width:250px; 
    top:50%;
    left:50%;    
    font-size: 30px;
  }
  .title_about{
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 20px;
  }
  .block-1{
    text-align:center;
    position:relative;
    background-color:#e5e5e5;
  }
  .inline-1{
    display:inline;
    margin-left:-300px;
  }
  .inline-1 img{
    width: 332px;
    height: 415px;
  }
  
  .inline-2{
    display:inline;
    position:absolute; 
    width:400px;
    margin-left:20px;
    margin-top: 30px;
  }
.inline-2 img{
    margin-bottom: 20px;
  }
  .block-2{
    text-align:center;
    position:relative;
    background-color:#e5e5e5;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .search_input{
    display:inline;
  }
  .search_input input{
    box-shadow: 10px 4px 20px rgba(0, 0, 0, .20);
    border:none;
    height: 30px;
    width: 180px;
    text-align: center;
    margin-left: 20px;
    border-radius:4px;
  }

  .filters{
    display:inline;
    margin-left: 100px;
  }

  .filters button{
    box-shadow: 10px 4px 20px rgba(0, 0, 0, .20);
    border:none;
    background-color:white;
    height: 30px;
    width: 75px;
    cursor: pointer;
  }

  .filters_buttons{
    display:inline;
    margin-left:50px;
  }

  .first_button{
    border-radius: 4px 0px 0px 4px;
  }
  .end_button{
    border-radius: 0px 4px 4px 0px;
  }
  .card-block{
    background-color:#e5e5e5;   
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 20px 0px 20px;
  }
  .card{
    display: block; 
    background-color:white;
    height: 260px;
    width: 220px;
    border-radius:6px;
    box-shadow: 10px 4px 20px rgba(0, 0, .15, .15);
    margin-left: 50px;
    padding: 40px 20px 10px 20px;
    font-size: 14px;
    font-weight: lighter;
  }

.card img {
  object-fit: cover;
}

.card_title{
  margin-top: 10px;  
}
.card_country{
  margin-top: 5px;
  float: right;
}
.card_price{
  margin-top: 5px;
  font-weight: 600;
  float: right;
  clear:both;
}

.text_center{
  text-align: center;
}

.footer{
  background-color:white;
  clear:both;
  max-height: 150px;
  width: 100%;
  text-align: center;
  color:black;
}

.menu_footer{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-left:40px;
}

.footer_header__links a{
  color:black;
  text-decoration: none;
  margin-right: 50px;
}
.footer img{
  margin-top: -15px;
  margin-bottom: 30px;
}